<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluiza</title>

    <link rel="stylesheet" href="/css/higiene.css">
   
</head>
<body>


    <h2>comida</h2>
    <div id="higiene-image">
        <a href="/index.html" > <img id="fds" src="/imagens/prato de comida.avif"></a>
    </div>

    <h1>higiene</h1>
    <div id="imageContainer">
        <img id="fixedImage" src="/imagens/higiene.PNG" alt="Clique para iniciar">
        <div id="subNodesContainer">
            <div id="subNode1" class="sub-node" style="background-image: url('/imagens/lavar\ mao.jpg');"></div>
            <div id="subNode2" class="sub-node" style="background-image: url('/imagens/escovar\ dentes.jpg');"></div>
            <div id="subNode3" class="sub-node" style="background-image: url('/imagens/banho.jpg');"></div>
            
        </div>
    </div>

    <audio id="myAudio">
        <source src="" type="audio/mpeg">
        
    </audio>


    <div id="output"></div>

    <div class="additional-images-container">
        

        <!-- Imagem Adicional 3 -->
        <div class="additional-image-wrapper" data-images="3">
            <img class="additional-image" src="/imagens/escova.jpg" alt="Imagem Adicional 3">
            <div class="sub-images-wrapper">
                
            </div>
        </div>

        <!-- Imagem Adicional 4 -->
        <div class="additional-image-wrapper" data-images="4">
            <img class="additional-image" src="/imagens/fio dental.jpg" alt="Imagem Adicional 4">
            <div class="sub-images-wrapper">
                
            </div>
        </div>

        <!-- Imagem Adicional 5 -->
        <div class="additional-image-wrapper" data-images="5">
            <img class="additional-image" src="/imagens/enxaguante.jpg" alt="Imagem Adicional 5">
            <div class="sub-images-wrapper">
                
            </div>
        </div>

        <!-- Imagem Adicional 6 -->
        <div class="additional-image-wrapper" data-images="6">
            <img class="additional-image" src="/imagens/temperatura.avif" alt="Imagem Adicional 6">
            <div class="sub-images-wrapper">
                <img class="sub-image" src="/imagens/fria.jpg" alt="Sub Imagem 26" data-audio="c:\Users\NOVOTEC\Desktop\teste app\audio\sanduiche.m4a">
                <img class="sub-image" src="/imagens/calor.jpg" alt="Sub Imagem 27" data-audio="c:\Users\NOVOTEC\Desktop\teste app\audio\pao com manteiga.m4a">
                
            </div>
        </div>

        <!-- Imagem Adicional 7 -->
        

        <!-- Imagem Adicional 8 -->
        <div class="additional-image-wrapper" data-images="8">
            <img class="additional-image" src="/imagens/prato com carne.jpg" alt="Imagem Adicional 8">
            <div class="sub-images-wrapper">
                <img class="sub-image" src="/imagens/carne.jpg" alt="Sub Imagem 36" data-audio="/audio/carne.m4a">
                <img class="sub-image" src="/imagens/frango.jpg" alt="Sub Imagem 37" data-audio="/audio/frango.m4a">
                <img class="sub-image" src="/imagens/salada.webp" alt="Sub Imagem 38" data-audio="/audio/salada.m4a">
                <img class="sub-image" src="/imagens/ovo.jpg" alt="Sub Imagem 39" data-audio="/AUDIO/audio_ovo_2.mp3">
                <img class="sub-image" src="/imagens/pão de queijo.jpg" alt="Sub Imagem 40" data-audio="/audio/pao com manteiga.m4a">
            </div>
        </div>

        <!-- Imagem Adicional 9 -->
        <div class="additional-image-wrapper" data-images="9">
            <img class="additional-image" src="/imagens/pizza.jpg" alt="Imagem Adicional 9">
            <div class="sub-images-wrapper">
                <img class="sub-image" src="/imagens/piiza queijo.png" alt="Sub Imagem 41" data-audio="/audio/pizza de queijo.m4a">
                <img class="sub-image" src="/imagens/frango.jpg" alt="Sub Imagem 42" data-audio="/audio/pizza de frango.m4a">
                <img class="sub-image" src="/imagens/calabresa pizza.avif" alt="Sub Imagem 43" data-audio="/audio/pizza de calabresa.m4a">
            </div>
        </div>

        <!-- Imagem Adicional 10 -->
        <div class="additional-image-wrapper" data-images="10">
            <img class="additional-image" src="/imagens/salada.webp" alt="Imagem Adicional 10">
            <div class="sub-images-wrapper">
                <img class="sub-image" src="/imagens/alface.avif" alt="Sub Imagem 46" data-audio="/audio/alface.m4a">
                <img class="sub-image" src="/imagens/tomate.jpg" alt="Sub Imagem 47" data-audio="/audio/tomate.m4a">
                <img class="sub-image" src="/imagens/cebola.jpg" alt="Sub Imagem 48" data-audio="/audio/cebola.m4a">
                <img class="sub-image" src="/imagens/pepino.avif" alt="Sub Imagem 49" data-audio="/audio/pepino.m4a">
                <img class="sub-image" src="/imagens/cenoura.jpg" alt="Sub Imagem 50" data-audio="/audio/cenoura.m4a">
            </div>
        </div>

        <!-- Imagem Adicional 11 -->
        <div class="additional-image-wrapper" data-images="11">
            <img class="additional-image" src="/imagens/bebidas.jpg" alt="Imagem Adicional 11">
            <div class="sub-images-wrapper">
                <img class="sub-image" src="/imagens/sucos.avif" alt="Sub Imagem 51" data-audio="/audio/sucos.m4a">
                <img class="sub-image" src="/imagens/refrigerante.jpg" alt="Sub Imagem 52" data-audio="/audio/refrigerantes.m4a">
                <img class="sub-image" src="/imagens/agua.jpg" alt="Sub Imagem 53" data-audio="/audio/agua.m4a">
            </div>
        
        </div>
    </div>

<hr>
<footer><a href="/termos de uso.html" > <p>&copy; 2024 Meu Site. Termos de uso</p></a>
    <a href="/politica de privacidade.html" > <p>&copy; 2024 Meu Site. politica de privacidade</p></a>
</footer>

<script src="/JavaScript/higiene.js"></script>

</body>
</html>

    
    
    
