<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de uso</title>

    <link rel="stylesheet" href="/css/termo de uso.css">
    
</head>
<body>
   <h1>    Termos de uso</h1>
   <h2>1. Propriedade e apresentação.</h2>

   <p>Esta propriedade, com endereço eletrônico “www.incluiza.com”, é de
    propriedade livre e correio eletrônico para contato “suporte@incluiza.com”.
    Este documento tem como objetivo orientar e expor as regras que devem ser
    observadas pelos usuários durante a utilização da plataforma IncluIza, para
    que possam usufruir das experiências proporcionadas por meio desta de
    forma legal e consciente. A IncluIza também está sujeita às regras aqui
    dispostas, e se compromete a respeitá-las em prol de uma boa relação com
    você.</p>
    <p>A IncluIza é uma plataforma que contempla: (I) Comunicação Alternativa; e a
    (II) Associação e Estimulação da Memória, para uso educacional.
    A primeira delas permite a criação de pranchas de Comunicação Ampliada e
    Alternativa, destinadas a auxiliar pessoas com dificuldades em se comunicar
    (portadores de deficiência intelectual, dificuldades na fala, dentre outros
    acometimentos)</p>
    <p>Já a segunda possibilita a criação de atividades de Estimulação da Memória,
    tais como atividades de interpretação, dentre outras atividades associativas.
    Essa funcionalidade é recomendada para uso livre por familiares,
    psicopedagogos, terapeutas ocupacionais, dentre outros.
    Assim, a plataforma permite o cadastro de todos perfis de usuários, que
    necessitam das ferramentas oferecidas.</p>
    <p>Importante destacar que fazem parte integrante e inseparável destes Termos,
    os demais documentos acessórios e específicos da plataforma, tal como a
    Política de Privacidade e Segurança https:/.com/privacidade e
    demais condições particulares que venham a ser apresentadas e aceitas pelo
    usuário de forma tácita ou expressa, conforme o caso, ao longo da utilização
    da IncluIza.
   </p>


   <h2>2 Condições de acesso e uso da plataforma</h2>
    
   <p>O acesso às funcionalidades da plataforma IncluIza somente poderá ser
    realizado pelos usuários que estiverem adequadamente cadastrados na
    plataforma.</p>
    <p>No momento do cadastro na plataforma, você deverá realizar o aceite
    incluIza sobre estes termos e seus acessórios. Sendo assim, somente será
    possível acessar os conteúdos e as funcionalidades da plataforma IncluIza
    também requer o aceite das novas versões.</p>
    <p>Desse modo, você declara ter lido e aceitado estes Termos de Uso e seus
    acessórios antes de ter iniciados utilização da plataforma IncluIza e estar de
    acordo com a versão vigente destes.</p>
    <p>Você reconhece e aceita que o uso da plataforma IncluIza será feita por sua
    exclusiva conta, responsabilidades e riscos, comprometendo-se a utilizá-la de
    acordo com estes Termos e seus acessórios, com a legislação vigente
    aplicável e do disposto neste instrumento.</p>
    <p>Portanto, não é permitido a realização de acessos não autorizados às contas
    de terceiros, assim como é expressamente proibido utilizar a plataforma
    IncluIza para realizar atos ilícitos nos termos da legislação vigente aplicável e
    do disposto neste instrumento.</p>
    <p>Saiba que é seu dever proteger os seus dados de acesso (login e senha) a
    plataforma, definidos no momento em que você se cadastrar na nossa rede.
    A IncluIza, em hipótese alguma, os solicitará.</p>
    <p>Se você enfrentar qualquer problema com os seus dados de acesso à
    plataforma, entre em contato imediatamente com a IncluIza, por meio dos
    canais de contato definidos no item 6, a fim de que as devidas providências
    possam possam ser tomadas.</p>
    <p>Buscando garantir a sua proteção, a IncluIza se resguarda ao direito de
    bloquear, restringir, desabilitar ou impedir o acesso de qualquer usuário a
    plataforma, total ou parcialmente, sem qualquer aviso prévio, sempre que for
    constatada uma conduta inadequada do usuário e/ou descumprimento destes
    termos e seus acessórios, ou mesmo das normas vigentes, sem prejuízo das
    medidas administrativas, extrajudiciais e judiciais que julgar convenientes.
</p>



<h2>3. Cadastro de usuários</h2>

<p>Para que seja possível o acesso à plataforma IncluIza e às suas
funcionalidades de forma integral, pelo usuário, é indispensável a criação de
uma Conta de Acesso, por meio do preenchimento de informações que serão
solicitadas no ato do cadastro, tais como nome completo, correio eletrônico e
senha.</p>
<p>Também é possível acessar a plataforma por meio da conexão a uma conta
do Google.</p>
<p>Caso seja realizado o cadastro, será presumido o seu consentimento
expresso sobre coleta, uso, armazenamento e tratamento de dados pessoais
pela IncluIza e/ou por terceiros por ela contratados para realizar qualquer
procedimento ou processo relacionado à plataforma IncluIza, inclusive
processamento de pagamentos, tendo em vista o condicionamento do aceite
do tratamento dos dados para a realização do cadastro junto à IncluIza.
A plataforma pode ser acessada pelo endereço eletrônico
“www.incluiza.com”, bem como por meio de aplicativo para computadores,
dispositivos móveis, aparelhos de televisão e outros eletrodomésticos com
acesso à internet.</p>
<p>É possível alterar os dados informados e excluir a Conta de Acesso a
qualquer momento, indo até o menu configurações, no canto superior direito
da página inicial da plataforma, e, posteriormente, clicando na opção
correspondente.</p>
<p>O cadastro de usuários pessoais menores de 18 (dezoito) anos, na
plataforma IncluIza, é permitido desde que estejam devidamente
acompanhados ou representados pelos seus responsáveis legais no
momento do cadastro, devido à sua incapacidade civil. Também é obrigatório
que esses usuários estejam devidamente acompanhados ou representados
nos momentos de criação das pranchas de Comunicação Alternativa.
</p>


<h2>4. Funcionalidades da plataforma IncluIza</h2>
   <P> A IncluIza é uma plataforma que possui uma funcionalidade principal, quais
    sejam, a Comunicação Alternativa. A plataforma visa proporcionar uma
    comunicação facilitada, bem como estimular o desenvolvimento daqueles que
    possuem deficiências intelectuais, dificuldades na fala, déficit de atenção,
    dentre outros acometimentos. Assim, a IncluIza possui finalidades
    pedagógicas e terapêuticas. </p>
    <h3>4.1 Comunicação alternativa</h3>
    <p>A funcionalidade Comunicação Alternativa é destinada aos usuários
    pessoais, e permite a criação de pranchas de comunicação. Cada prancha
    corresponde a um conjunto de cartões; por sua vez, cada cartão representa
    uma ação ou palavra, a partir da associação entre uma imagem, um título, e
    uma gravação por voz.</p>
    <h3>4.2. Novas funcionalidades e atualizações</h3>
    <p>A fim de manter a plataforma IncluIza ainda mais interessante a você, novas
    funcionalidades são implementadas e validadas de forma contínua, fazendo
    parte integrante deste instrumento.</p>
    <p>Também é importante esclarecer que poderão acontecer desativações de
    funcionalidades já disponibilizadas de acordo com os avanços tecnológicos e
    desuso das mesmas, o que não implicará em redução do serviço prestado,
    diante das atualizações contínuas e novas funcionalidades propostas para o
    correto funcionamento da plataforma.</p>
    A fim de manter a plataforma IncluIza ainda mais interessante a você, novas
    <p>são implementadas e validadas de forma contínua, fazendo
    parte integrante deste instrumento. Também é importante esclarecer que
    poderão acontecer desativações de funcionalidades já disponibilizadas de
    acordo com os avanços tecnológicos e desuso das mesmas, o que não
    implicará em redução do serviço prestado, diante das atualizações contínuas
    e novas funcionalidades propostas para o correto funcionamento da
    plataforma.</p>
    <p>Em caso de usuários menores de 18 (dezoito) anos, recomendamos que
    essa opção somente seja habilitada quando o usuário estiver devidamente
    acompanhado, pelas razões expostas ao final do item 3.</p>



   <h3> 5. Preços e pagamentos </h3>
<p> aplicativo IncluIza é acessível a todos, sendo oferecida de forma gratuita
aos usuários pessoais, desde que para uso via aplicativo, instalado no
dispositivo do usuário pessoal. Caso o usuário pessoal deseje acessar a
plataforma IncluIza via navegador web ou caso seja de seu interesse
utilizar-se dos recursos de sincronização com a “nuvem” – para backup e
acesso ao conteúdo em dispositivos diversos será possível.
Tendo em vista que o aplicativo é um projeto social o disponibilizamos de
uma forma gratuita, sendo acessível todas as partes/ abas do aplicativo a
todos que acessarem o aplicativo.</p>
<h3>6. Comunicações e Contato</h3>
<p>Para entrar em contato com a IncluIza, você poderá se utilizar do seguinte
canal de comunicação:
(I) Email: “suporte@incluiza.com”
Os canais de atendimento da IncluIza funcionam de segunda a sexta, das 9h
às 18h em dias úteis.</p>
<p>O tempo máximo de resposta da IncluIza para uma solicitação enviada é de
até 05 (cinco) dias úteis, como regra geral.
Se estivermos em um período de tráfego excepcionalmente alto, o retorno ao
seu contato poderá ser em tempo maior, sendo que receberá uma resposta
com um aviso sobre esta alta demanda e do novo prazo estimado para
retorno.</p>
<h3>7. Duração e Atualização</h3>
<p>Os presentes Termos e Condições de Uso e seus acessórios tem duração
indefinida e permanecerão em vigor enquanto a plataforma IncluIza e suas
funcionalidades estiverem ativas, considerando a aplicação da redação da
data de acesso na plataforma; da mesma forma, o acesso à plataforma
IncluIza e suas funcionalidades são de duração indeterminada, a exclusivo
critério da IncluIza.</p>
<p>A IncluIza também se reserva ao direito de revisar, aprimorar, modificar e/ou
atualizar, unilateralmente e a qualquer momento, qualquer cláusula ou
disposição aqui contida. A versão atualizada valerá para o uso da plataforma,
sendo que a continuidade de acesso ou utilização da plataforma IncluIza,
depois da divulgação de quaisquer modificações, confirmará tacitamente a
aceitação dos novos Termos e Condições de Uso e de seus acessórios.
8. Dados Pessoais, Privacidade e Segurança</p>
<p>A IncluIza se compromete a respeitar os Dados Pessoais, a Privacidade e a
Segurança dos Usuários, sempre tomando cautelosamente as medidas
necessárias para garantir a sua proteção nos momentos em que estiver
utilizando a plataforma.</p>
<p>Para a total utilização da plataforma, é necessária a Conta de Acesso com o
registro de alguns dados e informações pessoais do usuário, conforme aqui
definidos.</p>
<p>Os Dados solicitados no momento de criação da Conta de Acesso são
utilizados para gestão, navegação e consulta da própria plataforma, do
cadastro e dos serviços; e para a segurança do usuário e também da
IncluIza, evitando fraudes na utilização da Conta de Acesso.</p>
<p>Para a sua maior tranquilidade, a IncluIza garante que os dados pessoais e
informações coletadas na plataforma não serão compartilhados em
desacordo com a legislação pátria aplicável. Poderá haver o
compartilhamento tão somente com terceiros contratados pela IncluIza, se
necessário for, para realizar qualquer procedimento relacionado à plataforma;
e/ou no caso de informações e dados estatísticos e/ou anonimizados.</p>
<p>A utilização da plataforma IncluIza implica no seu consentimento para coleta,
armazenamento e uso das informações pessoais fornecidas e suas
atualizações, dados de tráfego, endereços IP, entre outros que sejam
necessários para possibilitar a navegação e utilização completa da
plataforma IncluIza.</p>
<p>Nos preocupamos muito com a segurança das informações que transitam na
plataforma IncluIza e, por isso, possuímos certificado de segurança SSL,
sendo que todo o armazenamento de dados do usuário é realizado por meio
de dois servidores, quais seja, o Google, Cloud e o Amazon Web Services
(AWS), que possuem um dos melhores níveis e ferramentas de segurança do
mundo.</p>
<h3>9. Propriedade Intelectual e Industrial</h3>
<p>Não é autorizada a utilização das marcas e de qualquer propriedade
intelectual e/ou industrial da IncluIza pelos usuários da plataforma sem a
prévia e expressa autorização e aprovação da IncluIza, ficando resguardados
todos os direitos acerca destas.</p>
<p>Ao acessar a plataforma IncluIza, você concorda que respeitará a existência
e a extensão dos direitos de Propriedade Intelectual da IncluIza, bem como
de todos os direitos de terceiros que sejam usados, a qualquer título, na
plataforma ou que venham a ser disponibilizados de outras formas.
10.Condições Gerais</p>
<p>Se alguma cláusula ou condição contida nesses Termos e em seus
acessórios for declarada inválida, no todo ou parcialmente, tal invalidade não
afetará as demais cláusulas dos termos e de seus acessórios. Neste caso, a
IncluIza fará as adaptações necessárias para que reflitam, da forma mais
próxima possível, os termos da previsão declarada inexequível.</p>
<p>A IncluIza tem como princípio de sua atuação o respeito a você, usuário,
agindo sempre em conformidade com as disposições do Código de Proteção
e Defesa do Consumidor (Lei Federal nº 8.078 de 1990), do Marco Civil da
Internet (Lei Federal nº 12.965 de 2014) e das demais normas referentes a
produtos e serviços em ambiente eletrônico previstas em nosso ordenamento
jurídico pátrio.</p>
<h3>11. Lei Aplicável e Foro de Eleição</h3>
<p>A plataforma IncluIza é controlada, operada e administrada pela IncluIza, na
cidade de São Paulo, SP, Brasil, podendo ser acessada por qualquer
dispositivo conectado à rede mundial de computadores.</p>
<p>Em vista das diferenças que podem existir entre as legislações locais e
nacionais, ao acessar a plataforma, você concorda que a legislação aplicável
para fins destes termos e seus acessórios será aquela vigente na República
Federativa do Brasil.</p>
<p>Você também concorda, juntamente com a IncluIza, que, caso ocorra
qualquer desentendimento envolvendo estes Termos e seus acessórios, este
será resolvido, preferencialmente, no foro da comarca de São Paulo, SP,
Brasil.</p>
<p>Estaremos disponíveis para saná-lo por meio de negociação, conciliação e
mediação antes de partir para a esfera judicial, em prol de uma solução
pacífica e amigável.</p>
<p>Portanto, concordamos expressamente em tentarmos solucionar todo e
qualquer impasse por meio de:</p>
<p>(I) contatos extrajudiciais para realização de acordo amigável;</p>
<p>(II) Mediação Extrajudicial, como meio prévio e obrigatório de solução a ser
administrado pela Câmara Privada de Mediação, Conciliação e Arbitragem do
Instituto de Ensino, Pesquisa e Extensão – doravante denominada Câmara
CAMCESP, instituída como pessoa jurídica sem fins lucrativos, com atuação
em todo território nacional, credenciada junto ao Tribunal de Justiça de São
Paulo, Rua Conde de Sarzedas, 100 - "Palacete Conde de Sarzedas" , São
Paulo,SP, e, em último caso, através de uma ação judicial, que ainda assim
não impedirá, a qualquer momento, a retomada do procedimento de
Mediação, hipótese em que será requerida ao juiz a suspensão do respectivo
processo por prazo suficiente para a solução consensual do conflito.
Ficamos felizes em tê-lo por aqui e estaremos sempre à disposição para
sanar eventuais dúvidas e para receber feedbacks, visando o aprimoramento
da plataforma IncluIza e da sua experiência conosco.</p>
    
</body>
</html>
